.App {
  text-align: center;
}

/* HEADER */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Merriweather:ital,wght@0,300;0,400;0,900;1,900&family=Source+Sans+3:wght@300;400;500&display=swap');

hgroup {
  font-family: "DM Serif Text";
}

body {
  font-family: "Source Sans 3";
}

.header {
  background-color: #914185;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* SIDEBAR */

.fixed-sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #F5F0F5;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

  display: flex;
  align-items: start;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  > button {
    margin: 10px;
  }
}

/* MAIN */
.main {
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; 
}

